* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 125%;
}

.timer-container {
  background-color: #18182e;
  background-position: center;
  background-size: cover;
  color: white;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.timer {
  background-color: rgba(1, 1, 1, 0.8);
  display: flex;
  flex-direction: row; /* Adjusted to make components horizontal */
  align-items: center;
  justify-content: center;
  padding-bottom: 7em;
  padding-top: 2em;
  width: 100%;
  height: 100%;
}

.component {
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  border-radius: 10px;
  padding: 1em;
  justify-content: center;
  margin-bottom: 1em;
  width: 120px;
}

.component p {
  margin: 0;
}

.component p:first-child {
  font-size: 2em;
  font-weight: 600;
}

.component p:last-child {
  font-size: 1em;
}

@media screen and (max-width: 480px) {
  .timer div:last-child {
    margin-left: 2em;
    margin-right: 2em;
    padding: 3em 1em;
  }
  section p:first-child {
    font-size: 1.5em;
  }
}
